li {
  padding: 20px;
  box-shadow: grey;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.li-semi-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time {
  width: 100px;
  margin-right: 10px;
}
.history-image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.delete-iocn {
  width: 20px;
  height: 20px;
}
button {
  border: 0px solid transparent;
  background-color: transparent;
}
.domainUrl {
  margin-left: 10px;
  color: #64748b;
}
